.bookmarkcard {
    border: solid 3px var(--main-text-clr);
    border-radius: 20px;
    max-width: 280px;
    min-height: 350px;
    transition: all linear 150ms;


    @media (min-width: 900px) {
        width: 300px;
        height: 360px;
    }

    .up {
        overflow: hidden;
        min-height: 40%;
        border-radius: 17px 17px 0 0;
        transition: all linear 150ms;

        .posttype {
            position: absolute;
            z-index: 2;
            top: 0%;
            background-color: var(--accent);
            color: var(--text-on-accent);
            padding: 0.25rem 0.5rem;
            border-radius: 0 0 20px 0;
            font-size: 0.8rem;
            text-transform: uppercase;
        }

        img {
            border-bottom: solid 1.5px;

            @media (max-width: 1018px) {
                border-top: solid 1.5px;
                border-radius: 0 20px 0 0;
            }
        }
    }

    .savemenu {
        position: absolute;
        font-size: 1.8rem;
    }



    .bottom {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
        padding: 1rem;
        min-height: 45%;
        transition: all linear 250ms;


        h3 {
            font-size: clamp(1.2rem, 1.6vw, 1.4rem);
            line-break: normal;
            display: flex;
            flex-direction: column;
            -webkit-line-clamp: 3;
            overflow: hidden;
        }

        @media (max-width: 1019px) {
            min-height: 30%;
        }

        &.menuisopen {
            min-height: 30%;
            padding-block: .5rem;
        }

        .bottomtop {
            display: flex;
            gap: 1rem;
            align-items: center;
            justify-content: space-between;

            h3 {
                word-break: break-word;
                hyphens: auto;
            }
        }

        .other {
            display: flex;
            justify-content: space-between;

            .author {
                display: flex;
                align-items: center;
                gap: .5rem;
                flex-wrap: wrap;

                img {
                    border-radius: 50px;
                }

                h6 {
                    font-size: 0.91rem;
                    max-width: 12ch;
                    word-wrap: break-word;
                }
            }
        }
    }
}

.deleteicon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    justify-content: center;
    font-size: 0.65rem;
    text-align: center;
    transition: color ease-in-out 250ms;
    max-width: 50px;

    svg {
        font-size: 1.25rem;
    }

    &:hover {
        color: red;
    }
}


.deletedbookmark {

    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: solid 3px var(--main-text-clr);
    border-radius: 20px;
    padding: 1.65rem;
    max-width: 280px;
    min-height: 350px;

    @media (min-width: 900px) {
        width: 300px;
        height: 360px;
    }
}





/////////////////////////////////////////////////
/////////////////////////////////////////////////
/////////////////////////////////////////////////
/////////////////////////////////////////////////
/////////////////////////////////////////////////
/////////////////////////////////////////////////
/////////////////////////////////////////////////

.folderCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    line-break: anywhere;

    h5 {
        text-align: center;
        font-size: clamp(1.15rem, 1.35vw, 1.3rem);
    }
    a {
        display: flex;
        align-items: center;
        flex-direction: column;

        &:hover {
            .docket {
                color: var(--main-text-clr);
            }
        }
    }


    .docket {
        display: flex;
        align-items: flex-start;
        height: 120px;
        font-size: 8rem;
        color: var(--sec-text-clr);
    }

    .deletebutton {
        appearance: none;
        font-family: var(--text-poppins);
        background-color: transparent;
        color: var(--main-text-clr);
        padding: .25rem .7rem;
        border: solid 2px var(--main-text-clr);
        border-radius: 50px;
        cursor: pointer;
        transition: all ease-in-out 250ms;

        &:hover {
            border-radius: 5px;
            color: var(--text-on-accent);
            background-color: var(--accent);
            border: solid 2px transparent;

            svg {
                color: red;
            }
        }
    }
}