.allDiscussions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
}

.inputdiv {
    position: relative;
    margin-block: 1.5rem 3rem !important;
    transition: width 350ms ease-in-out !important;
    
    input {
        height: 40px  !important;
        border-radius: 12px !important;
        
        @media (min-width: 720px) and (max-width: 1149px) {
            min-width: 520px;
            width: 550px;
        }

        @media (min-width: 1150px) {
            min-width: 600px;
            max-width: 700px;
        }
    }

    .icon {
        position: absolute;
        right: 3.0%;
        top: 2.2rem;
        color: var(--sec-text-clr);

        svg {
            font-size: 1.2rem;
        }
    }

}