

.imagepreviewcontainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1.25rem;
    margin-top: 2.25rem;


    .imagepreview {
        img {
            width: 100%;
            max-width: 250px;
        }
    }

    .closebutton {
        position: absolute;
        left: 1.5%;
        top: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        cursor: pointer;
        margin-bottom: 1rem;

        svg {
            background-color: var(--sec-text-clr);
            width: 15px;
            height: 15px;
            padding: 0.3rem;
            border-radius: 60px;
            color: var(--background);
        }

    }
}