.casestudy {
    width: 100%;
    max-width: 1480px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 1019px) {
        width: 100%;
    }

    header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        margin-top: 2.25rem;
        gap: 1.5rem;
        margin-bottom: 2.5rem;
        
        
        @media (min-width: 1020px) {
            flex-direction: column;
            gap: 0.5rem;
        }

        .title {
            h1 {
                font-size: clamp(2.3rem, 4vw, 4rem);
                width: 100%;
                text-align: left;
                font-size: clamp(2rem, 4vw, 4rem);
            }
            em{
                color: var(--sec-text-clr);
            }
        }

        .settings {
            display: flex;
            gap: 1.5rem;
            font-size: 1.75rem;
            align-items: center;

            svg{
                cursor: pointer;
            }

        }
    }





    .postinfosection {
        display: flex;
        gap: 1rem;
        margin-bottom: 2rem;
        width: 105%;



        @media (max-width: 1280px) {
            flex-direction: column;
            width: 100%;
        }


        .coverimage {
            flex: 2.5;
            border-radius: 12px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100% !important;
                border-radius: 12px;
            }

        }


        .postinfo {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 0.75rem;

            @media (min-width: 1280px) {
                flex-direction: row;
            }


            .basicinfo {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 1rem;
                border: solid 2.5px var(--main-text-clr);
                border-radius: 12px;

                .desc {

                    @media (min-width: 1280px) {
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: column;
                        gap: .5rem;
                    }

                    h6 {
                        line-height: 1.2;
                        text-align: left;
                        word-break: keep-all;
                        font-size: 0.9rem;

                        span {
                            font-weight: 500;
                            font-size: 0.87rem;
                            color: var(--sec-text-clr);
                        }


                        @media (max-width: 719px) {

                            span {
                                font-weight: 500;
                                font-size: 0.77rem;
                                color: var(--sec-text-clr);
                            }
                        }
                    }


                }

                .otherinfo {

                    .postags {
                        font-weight: 500;
                        font-size: 0.9rem;
                        display: flex;
                        flex-wrap: wrap;
                        text-transform: lowercase;
                        margin-block: 1.75rem;

                        @media (max-width: 1019px) {
                            margin-block: 1rem;
                        }


                        a {
                            color: var(--sec-text-clr);
                            text-decoration: underline;
                            text-transform: lowercase;
                            text-decoration-color: var(--sec-text-clr);
                            text-decoration-thickness: 2px;
                            margin-left: 0.2rem;
                            font-size: 0.87rem;

                            &:hover {
                                color: var(--main-text-clr);
                                text-decoration-color: var(--main-text-clr);
                            }

                        }

                    }


                    .authorandtime {
                        display: flex;
                        align-items: center;

                        gap: 1rem;

                        .authorinfo {
                            display: flex;
                            align-items: center;
                            gap: 0.5rem;

                            img {
                                width: 9vw;
                                max-width: 30px;
                                border-radius: 50px;
                                border: solid 1px var(--accent);
                            }

                            h6 {
                                max-width: 15ch;
                                word-wrap: break-word;
                                font-size: .85rem;
                            }
                        }

                        .posttime {
                            display: flex;
                            align-items: center;
                            white-space: nowrap;


                            .dot {

                                display: flex;
                                margin-right: 25%;
                                font-size: .5rem;
                            }

                        }


                    }

                }

            }


            .poststats {
                display: flex;
                justify-content: space-between;
                padding: 0.5rem 1.35rem;
                border: solid 2.5px var(--main-text-clr);
                border-radius: 12px;
                gap: 0.5rem;

                @media (min-width: 1280px) {
                    flex-direction: column;
                    max-width: max-content;
                    padding: 1rem 0.25rem;
                }



                h5 {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.5rem;
                    flex: 1;
                    line-height: 1;

                    span {
                        color: var(--sec-text-clr);
                        max-width: 8ch;
                        margin-bottom: 0.75rem;
                        font-size: 0.8rem;
                        word-wrap: break-word;
                        text-align: center;
                    }
                }

                article {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 60px;

                    svg {
                        font-size: 2rem;
                        stroke: var(--main-text-clr);
                        stroke-width: 30px;
                        fill: transparent;
                        color: transparent;

                        @media (max-width: 1279px) {
                            font-size: 1.75rem;
                        }
                    }
                }


                .stat {
                    svg {
                        cursor: pointer;
                    }
                }

                @keyframes shine {
                    0% {
                        transform: scale(1);
                    }

                    50% {
                        transform: scale(0.7);
                    }

                    100% {
                        transform: scale(1);
                    }
                }

                .likedstat {
                    svg {
                        stroke: none;
                        color: red;
                        animation: shine 500ms ease-out .00125s forwards;
                        cursor: pointer;
                    }
                }

                .bookmarkedstat {
                    svg {
                        stroke: none;
                        color: var(--main-text-clr);
                        animation: shine 500ms ease-out .00125s forwards;
                        cursor: pointer;
                    }
                }
            }
        }
    }














    /////////////////////////////////////////////////////////////////
    /////////////////////////////////////////////////////////////////
    /////////////////////////////////////////////////////////////////
    ///////////////         MAIN CONTENT         ////////////////////
    /////////////////////////////////////////////////////////////////
    /////////////////////////////////////////////////////////////////
    /////////////////////////////////////////////////////////////////


    main {
        width: 100%;
        word-wrap: break-word;


        h2,
        h3,
        h4,
        h5,
        h6 {
            line-height: 1.2;
            margin-top: 1.5rem;
            margin-bottom: .75rem;
        }

        h2 {
            font-size: clamp(1.7rem, 2.4vw, 2.4rem);
        }

        h3 {
            font-size: clamp(1.5rem, 2.1vw, 2.1rem);
        }

        img {
            aspect-ratio: initial !important;
            height: 100%;
            width: 100%;
            border-radius: 12px;
            margin-block: 0.5rem;
        }
    }
}






/////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////
///////////////           COMMENTS           ////////////////////
/////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////
.commentsection {
    width: 100%;
    margin-top: 7.5rem;

    .writecomment {
        margin-block: 1.2rem;
        display: flex;
        align-items: flex-start;
        gap: 1rem;

        @media (max-width: 1019px) {
            flex-direction: column;
            gap: 0rem;
        }

        .inputdiv {
            margin-bottom: .5rem;
            width: 80%;
            max-width: 1200px;

            @media (max-width: 1019px) {
                width: 100%;
            }
        }
    }

    .writecommentButton {
        appearance: none;
        font-family: var(--text-poppins);
        background-color: transparent;
        color: var(--main-text-clr);
        padding: .25rem .7rem;
        border: solid 2px var(--main-text-clr);
        border-radius: 50px;
        cursor: pointer;
        transition: all ease-in-out 250ms;
        min-width: max-content;

        &:hover {
            border-radius: 5px;
            color: var(--background);
            background-color: var(--accent);
            border: solid 2px transparent;
        }
    }



    .writer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.05rem;

        span {
            display: flex;
            gap: 0.25rem;
            align-items: center;


            img {
                border-radius: 50px;
            }
        }
    }


    .comments {
        border: solid 2px var(--main-text-clr);
        border-radius: 12px;
        padding: 1rem;
        padding-top: 0;

    }
}