

// theme switcher svg
.themeswitch {
    display: flex;
    align-items: center;
    font-weight: 700;
}

.switchsvg {

    display: contents;
    transform: scale(1.5);

    input[type=checkbox] {
        height: 0;
        width: 0;
        visibility: hidden;
    }

    label {
        position: relative;
        display: block;
        background: var(--glass);
        width: 50px;
        height: 25px;
        border: solid 2px var(--main-text-clr);
        border-radius: 50px;
        text-indent: -9999px;
        cursor: pointer;
    }

    label:after {
        content: '';
        position: absolute;
        top: 1px;
        left: 1.25px;
        width: 17px;
        height: 17px;
        background: var(--accent);
        border: solid 1px;
        border-radius: 17px;
        transition: 0.3s;
    }
    
    input:checked+label {
        background: var(--glass);
        border: solid 2px var(--main-text-clr);
    }
    
    input:checked+label:after {
        left: calc(100% - 1.25px);
        transform: translateX(-100%);
    }

    label:active:after {
        width: 27.5px;
    }
}
