.body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 2800px;

    @media (min-width: 720px) {
        position: relative;
        display: flex;

        .sidebarandnav {
            --sidebar-width: 300px;
            width: var(--sidebar-width);
            max-width: 30%;
            position: fixed;
            height: 100%;
            overflow-y: auto;
        }

        .content {
            flex-grow: 1;
            margin-left: var(--sidebar-width);
            overflow-y: auto;
            max-width: 2500px;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100vh;
        padding: 1rem;

        &.restricted {
            max-height: 100vh;

        }

        @media (min-width: 1020px) {
            padding: 1.5rem 10vw;
        }

    }

}

.topbtn {
    position: fixed;
    top: 85%;
    left: 70%;
    z-index: 190;
    transition: all ease-in-out 0.3s;
    background-color: var(--accent);
    padding: 0.5rem;
    border-radius: 50px;
    border: solid 2.5px transparent;
    cursor: pointer;


    @media (min-width: 1020px) {
        left: 88%;
    }

    &:hover {
        background-color: var(--background);
        opacity: 0.85;
        border: solid 2.5px var(--accent);
        color: var(--main-text-clr);
        border-radius: 7px;
    }

    &.hidden {
        opacity: 0;
    }

}