.makecase {

    display: flex;
    flex-direction: column;
    row-gap: 5rem;
    width: 100%;
    margin-top: 6vh;



    .caseinfo {
        width: 100%;
        display: flex;
        flex-direction: column;
    }


    .submitbutton {
        width: 100%;
        padding: 0.65rem 1.35rem;
        border: solid 3px transparent;
        border-radius: var(--border-radius);
        align-self: center;
        text-align: center;
        font-family: var(--text-lora) !important;
        font-size: 1.1rem;
        font-weight: 600;
        color: var(--text-on-accent);
        background-color: var(--accent);
        cursor: pointer;
        transition: all 250ms ease-out;

        &:hover {
            --border-radius: 5px;
            background-color: var(--background);
            border: solid 3px var(--accent);
            color: var(--main-text-clr);
        }

        &:visited {
            --border-radius: 50px;
        }
    }
}