.container {
    line-height: 1.8;
    a{
        color: var(--accent);
        text-decoration: underline;
        &:hover{
            color: var(--sec-text-clr);
        }
    }
    br {
        margin-bottom: 1rem;
    }

    section {
        margin-block: 1rem 3rem;

        .accent {
            color: var(--accent);
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    li{
        span{
            text-decoration: underline;
            font-weight: 600;
            display: block;
        }
    }
}