.postcard {
    display: flex;
    flex-direction: column;
    border: solid 3.5px var(--main-text-clr);
    border-radius: 15px;
    font-family: var(--text-poppins);
    transition: all 250ms ease-in-out;
    max-width: 450px;

    @media (min-width: 1150px) {
        flex-direction: row;
        min-height: 150px;
        min-width: 750px;
        max-width: 800px;
    }

    &:hover {
        transform: translate(2%, -2%);
        box-shadow: -10px 10px var(--main-text-clr);

    }






    // left/up
    .postimage {
        overflow: hidden;
        border-bottom: solid 1.5px var(--main-text-clr);
        width: 100%;
        border-radius: 12px;

        @media (min-width: 1150px) {
            border-radius: 10px 0 0 10px;
            flex: 1.4;
            border-right: solid 1.5px var(--main-text-clr);
        }

        img {
            aspect-ratio: 16/9 !important;
            width: 100%;
            height: 100%;
            transition: all ease-in-out 250ms;
            object-fit: cover;


            @media (min-width: 1150px) {
                aspect-ratio: 1/1 !important;
                border-radius: 10px 0 0 10px;
                width: 100%;
                height: 100%;
                object-position: 100% 0;
                
                &:hover{
                    animation: gag 5000ms linear infinite both;
                }
            }

            @media (max-width: 719px) {
                aspect-ratio: 15/10 !important;
            }

            @keyframes gag {
                0%{
                    object-position: 100% 0;

                }
                50%{
                    object-position: 0 0;

                }
            }
        }
    }





    // right/down
    .mainInfo {
        display: flex;
        flex-direction: column;
        flex: 1.5;
        flex-grow: 1.25;
        justify-content: space-between;
        padding-inline: 1.5rem;
        padding-block: 1.5rem;


        .metadata {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 1rem;

            .authorandtime {
                display: flex;
                align-items: center;

                gap: 1rem;

                .authorinfo {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;

                    img {
                        width: 9vw;
                        height: 9vw;
                        max-width: 30px;
                        max-height: 30px;
                        border-radius: 50px;
                        border: solid 1px var(--accent);
                    }

                    h6 {
                        max-width: 20ch;
                        word-wrap: break-word;
                        font-size: .85rem;
                    }
                }

                .posttime {
                    display: flex;
                    align-items: center;
                    white-space: nowrap;


                    .dot {

                        display: flex;
                        margin-right: 25%;
                        font-size: .5rem;
                    }

                }

            }

        }





        .postinfo {


            .title {
                display: block;
            }

            .desc {

                display: flex;
                flex-direction: column;
                gap: 0.15rem;
                align-items: flex-start;
                margin-top: 1.5rem;
                font-size: 0.9rem;
                line-height: 1.75;
                text-align: justify;
                width: 100%;
                hyphens: auto;
                &.h6{
                    text-align: left;
                }
            }

        }

        .bottomsection {
            margin-top: 1rem;
        }

        .postags {
            font-weight: 500;
            font-size: 0.85rem;
            display: flex;
            flex-wrap: wrap;
            text-transform: lowercase;

            a {
                color: var(--sec-text-clr);
                text-decoration: underline;
                text-transform: lowercase;
                text-decoration-color: var(--sec-text-clr);
                text-decoration-thickness: 2px;
                margin-left: 0.2rem;

                &:hover {
                    color: var(--main-text-clr);
                    text-decoration-color: var(--main-text-clr);
                }

            }

        }



        .buttongroup {
            display: flex;
            justify-content: space-between;
            margin-top: 10%;
        }
    }

}