.authPageHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.allposts{
    display: flex;
    flex-wrap: wrap;
    gap: 3.5rem;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}
.allposts.dockets{
    align-items: start;
}

.createfolder{
    margin-block: 1.2rem;

    .inputdiv{
        margin-bottom: .5rem;
    }
}

.createFolderButton{
    appearance: none;
    font-family: var(--text-poppins);
    background-color: transparent;
    color: var(--main-text-clr);
    padding: .25rem .7rem;
    border: solid 2px var(--main-text-clr);
    border-radius: 50px;
    cursor: pointer;
    transition: all ease-in-out 250ms;
    
    &:hover{
        border-radius: 5px;
        color: var(--background);
        background-color: var(--accent);
        border: solid 2px transparent;
    }
}