.container {
    header {
        margin-bottom: 4rem;
        text-align: center;
    }

    main {
        width: 100%;
        max-width: 750px;
    }
    input[type="email"],
    input[type="password"] {
      height: 30px;
    }
}