.header {
    .pagetitle {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        justify-content: center;

        img {
            border-radius: 50px;
        }
    }
}






.profile {
    display: flex;
    margin-block: 1rem;
    align-items: flex-start;
    justify-content: space-between;
    gap: 7.5vw;
    width: 120%;

    @media (max-width: 1019px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15vw;
        width: 100%;
    }


    .userinfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        flex: 1.2;
        text-align: center;
        padding-right: 2.5rem;
        border-right: solid 2px var(--main-text-clr);


        p {
            font-family: var(--text-poppins);
            font-size: .85rem;
            text-align: justify;
            hyphens: auto;
            width: 100%;

        }

        h3 {
            font-size: clamp(1.5rem, 1.7vw, 1.8rem);
            margin-bottom: 0;
            max-width: 15ch;
            word-wrap: break-word;
        }

        h5 {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 1.35rem;
            flex: 1;

            span {
                font-size: 0.7rem;
                color: var(--sec-text-clr);
            }
        }

        h6 {
            color: var(--accent);
            font-size: 0.9rem;

            &.username {
                color: var(--sec-text-clr);
                font-style: italic;
                margin-top: 0;
            }
        }

        img {
            border-radius: 150px;
            margin-bottom: 1rem;
            padding: 0.25rem;
            border: solid 2px var(--accent);

            @media (max-width: 719px) {
                width: 100px;
                height: 100px;
            }
        }

        .main,
        .following {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

        }

        .main {

            //name and settings gear on mobile
            div {
                display: flex;
                align-items: center;
                gap: .75rem;

                svg {
                    display: inline-block;
                    font-size: 1.2rem;

                    &:hover {
                        color: var(--accent);
                    }
                }
            }

        }

        .following {
            flex-direction: row;
            gap: 1rem;

        }

        .socials {
            display: flex;
            align-items: center;
            gap: 1rem;

            svg {
                font-size: 1.5rem;
            }

            .disabledicon {
                color: var(--sec-text-clr);
            }
        }
    }


    .pinned {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 2.7;
        gap: 1.2rem;

        h5 {
            font-size: 1rem;
        }

        .pinnedposts {
            display: flex;
            gap: 1.2rem;
            flex-wrap: wrap;
            justify-content: center;

            @media (max-width: 1019px) {
                // margin-top: -5rem;
            }
        }
    }
}






.posts {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;

}


.sortmenu {
    cursor: pointer;
    font-size: 1.2rem !important;
    font-weight: 500 !important;

}

.folders {
    display: flex;
    flex-wrap: wrap;
    gap: 3.5rem;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}